<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <button type="button" class="btn btn-secondary">Machines</button>
    </a>
</nav>
<div class="container">
    <h3>Machine Details</h3>
    <h6 *ngIf = "error?.status === 0" style="color: red;">Error Loding data</h6>
    <h6 *ngIf = "error?.status === 404" style="color: red;">Can't find machine with the id {{machine.machineId}}</h6>
    <table *ngIf= "error == null" class="table">
        <tr>
            <td scope="col">Machine</td>
            <td>{{machine.name}}</td>
        </tr>
        <tr>
            <td scope="col">Description</td>
            <td>{{machine.description}}</td>
        </tr>
        <tr>
            <td scope="col">Total production</td>
            <td>{{machine.totalproduction}}</td>
        </tr>
    </table>
</div>
